*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', zmienic na ligth Helvetica, sans-serif;
  box-sizing: border-box;
}
/* MAIN ELEMENT THAT ARE PLACED IN NAV BUTTONS OD SIDE BAR NAV, AND IN DESCRIPTION OF EACH PROJECT */
.cross{
  width: 1vw;
  height:calc(1vw * 1);
  margin-right: 2vh;
  background-image: url("../images/button_cross.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* STYLE ELEMENTS FOR SIDE MENU BAR
NAVIGATION BAR NEED TO PLACED ON EACH SUBSITE*/
#navContainer{
  margin-left: 5vw;
  position: fixed;
  width: 11.5vw;
  height: calc(11.5vw * 3.63);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#logo{
  background-image: url("../images/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8.5vw;
  height: calc(8.5vw * 1.27);
  margin-left: .8vw;
}
#hiContainer{
  width: 11.5vw;
  height: calc(11.5vw * .25);
  padding-left: .8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hiContainer p{
  font-size: .86vw;
  text-transform: uppercase;
  line-height: 2.7vh;
}
#hiContainer p span{
  letter-spacing: .23vw
}
#adressContainer{
  width: 11.5vw;
  height: calc(11.5vw * .61);
  padding-left: .8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#adressContainer p{
  text-transform: uppercase;
  font-size: .86vw;
}
#buttonsContairner{
  width: 11.5vw;
  height: calc(11.5vw * 1.24);
  padding-bottom: calc(11.5vw * .28);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#buttonsContairner button{
  font-size: 1vw;
  text-transform: uppercase;
  height: 45vh;
  width: 11.5vw;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border: none;
  margin-left: .8vw;
}
#buttonsContairner button a{
  text-decoration: none;
  color: black
}
#landing{
  margin: 9.07vh 0 0 21.5vw;
  width: 73.5vw;
  height: 81.61vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landingImg{
  width: 43.5vw;
  height: calc(43.5vw * 1.3);
  background-image: url("../images/landing.jpg");
}
#workshopsImg{
  width: 39vw;
  height: calc(39vw *1);
  background-image: url("../images/WORKSHOPS.jpg");
}
#setDesignImg{
  width: 43.5vw;
  height: calc(43.5vw * 1.3);
  background-image: url("../images/SET_DESIGN.jpg");
}
/* NAWIGATION STYLE ELEMENTS, SUBPAGE NAVIGATION.HTML */
nav{
  margin: 9.07vh 0 9.07vh 21.5vw;
  width: 73.5vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
nav button{
  border: none;
}
.buttonsRow{
  width: 59.4vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3.8vh
}
.verticalImg{
  width: 8.5vw;
  height: calc(8.5vw * 1.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.horizontalImg{
  width: 12.8vw;
  height: calc(12.8vw / 1.5);
  background-repeat: no-repeat;
  background-size: contain;
}
#przesunieteNav{
  background-image: url("../images/navigation_icons/przesuniete.jpg");
}
#kozNav{
  background-image: url("../images/navigation_icons/koz.jpg");
}
#siostryNav{
  background-image: url("../images/navigation_icons/siostry.jpg");
}
#barlinekNav{
  background-image: url("../images/navigation_icons/barlinek.jpg");
}
#cosNav{
  background-image: url("../images/navigation_icons/cos.jpg");
}
#skladNav{
  background-image: url("../images/navigation_icons/sklad.jpg");
}
#zeroKithcenNav{
  background-image: url("../images/navigation_icons/zeroKitchen.jpg");
}
#lucynaNav{
  background-image: url("../images/navigation_icons/lucyna.jpg");
}
#WRHNav{
  background-image: url("../images/navigation_icons/WRH.jpg");
}
#kuchniaPoznanNav{
  background-image: url("../images/navigation_icons/poznanKitchen.jpg");
}
#kwiatyPolskieNav{
  background-image: url("../images/navigation_icons/kwiatyPolskie.jpg");
}
#coolgardieNav{
  background-image: url("../images/navigation_icons/coolgardie.jpg");
}
#bramaPoznaniaNav{
  background-image: url("../images/navigation_icons/bramaPoznania.jpg");
}
#berlinNav{
  background-image: url("../images/navigation_icons/berlin.jpg");
}
#airWaterSoilNav{
  background-image: url("../images/navigation_icons/air_water_soil.jpg");
}
/* STYLE ELEMENTS THAT ARE SIMILIAR FOR EACH PROJECT SUBPAGE */
.containerSections{
  margin: 9.07vh 5vh 9.07vh 21.5vw;
  position: relative;
  height: auto;
}
.opis{
  width: 17vw;
  height: auto;
  position: absolute;
  left:-2.5vw;
  top: 56.9vh;
}
.tytuł{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 2.3vh;
}
.tytuł h2{
  font-size: 1vw;
  font-weight: 400;
}
.opis p{
  font-size: .8vw;
  text-align: justify;
  line-height: 2vh;
  padding-left: 2.5vw
}
.imgGlobal{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* SUBPAGES STYLES ELEMENTS */
/* PZRESUNIĘTE */
#przesunieteBox{
  width: 52.8vw;
  height: calc(52.8vw * 2.56);
  margin-left: 19.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.07vh;
}
#przesBox_1{
  width: 27vw;
  height: calc(27vw * 1.5);
  background-image: url("../images/przesuniete/PRZESUNIETE_1.jpg");
}
#przesunieteContainer{
  width: 52.8vw;
  height: calc(52.8vw * 1.68);
  display: flex;
  justify-content: space-between;
}
#przesunieteContainerLeft{
  width: 24.9vw;
  height: calc(24.9vw * 3.56);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#przesunieteContainerRight{
  width: 24.9vw;
  height: calc(24.9vw * 3.56);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#przesBox_2{
  width: 24.9vw;
  height:calc(24.9vw * 1.5);
  background-image: url("../images/przesuniete/PRZESUNIETE_2.jpg");
}
#przesBox_3{
  width: 24.9vw;
  height:calc(24.9vw * 1.5);
  margin-bottom: calc(24.9vw * .44);
  background-image: url("../images/przesuniete/PRZESUNIETE_3.jpg");
}
#przesBox_4{
  height:calc(24.9vw * 1.5);
  width: 24.9vw;
  margin-top: calc(24.9vw * .44);
  background-image: url("../images/przesuniete/PRZESUNIETE_4.jpg");
}
#przesBox_5{
  width: 24.9vw;
  height:calc(24.9vw * 1.5);
  background-image: url("../images/przesuniete/PRZESUNIETE_5.jpg");
}
/* KOZ */
#kozBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 54vw;
  height: calc(54vw * 4.08);
  left: 16.5vw;
  margin-bottom: 9.07vh;
}
#kozBox_1{
  width: 28vw;
  height: calc(28vw * 1.435);
  background-image: url("../images/KOZ/KOZ_1.jpg");
}
#kozBox_2{
  width: 54vw;
  height: calc(54vw / 1.415);
  background-image: url("../images/KOZ/KOZ_2.jpg");
}
#kozContainer{
  width: 70.4vw;
  height: calc(70.4vw * 1.29);
  margin-left: -12.6vw;
  display: flex;
  justify-content: space-between;
}
#kozContainerLeft{
  width: 36.7vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#kozBox_3{
  width: 36.7vw;
  height: calc(36.7vw * 1.447);
  background-image: url("../images/KOZ/KOZ_3.jpg");
}
#kozBox_4{
  width: 27.9vw;
  height: calc(27.9vw * 1);
  margin-bottom: calc(27.9vw * .21);
  background-image: url("../images/KOZ/KOZ_4.jpg");
}
#kozContainerRight{
  width: 30.4vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#kozBox_5{
  width: 27.1vw;
  height: calc(27.1vw * 1.435);
  margin-top: calc(27.1vw * .71);
  background-image: url("../images/KOZ/KOZ_5.jpg");
}
#kozBox_6{
  width: 30.4vw;
  height: calc(30.4vw * .995);
  background-image: url("../images/KOZ/KOZ_6.jpg");
}
#kozBox_7{
  width: 54vw;
  height: calc(54vw / 1.415);
  background-image: url("../images/KOZ/KOZ_7.jpg");
}
/* SIOSTRY */
#siostryBox{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 72.8vw;
  height: calc(72.8vw * 1.5);
  margin-bottom: 9.07vh;
}
#siostryBox_1{
  width: 43.5vw;
  height: calc(43.5vw * 1);
  background-image: url("../images/SIOSTRY/SIOSTRY_1.jpg");
}
#siostryContainer{
  width: 72.8vw;
  height: calc(72.3vw * .82);
  position: relative;
}
#siostryBox_2{
  position: absolute;
  width: 25.9vw;
  height: calc(25.9vw * 1.445);
  background-color: yellow;
  left: 0;
  top: 0;
  z-index: 2;
  background-image: url("../images/SIOSTRY/SIOSTRY_2.jpg");
}
#siostryBox_3{
  position: absolute;
  width: 25.9vw;
  height: calc(25.9vw * .813);
  background-color: yellow;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-image: url("../images/SIOSTRY/SIOSTRY_3.jpg");
}
#siostryBox_4{
  position: absolute;
  width: 56.1vw;
  height: calc(56.1vw * 1.001);
  background-color: red;
  right: -2.5vw;
  top: calc(56.1vw * 0.03);
  background-image: url("../images/SIOSTRY/SIOSTRY_4.jpg");
}
/*BARLINEK*/
#barlinekContainer{
  position: absolute;
  width: 54.5vw;
  height: calc(54.5vw * .96);
  margin-left: 18.6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#barlinekContainer_2{
  width: 47.6vw;
  height: calc(47.6vw * .645);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#barlinekBox_1{
  width: 25.8vw;
  height: calc(25.8vw * 1.19);
  background-image: url("../images/BARLINEK/BARLINEK_1.jpg");
}
#barlinekBox_2{
  width: 20.1vw;
  height: calc(20.1vw * 1.14);
  background-image: url("../images/BARLINEK/BARLINEK_2.jpg");
}
#barlinekBox_3{
  left: 18.6vw;
  top: 65.6vh;
  width: 54.5vw;
  height: calc(54.5vw * .37);
  background-image: url("../images/BARLINEK/BARLINEK_3.jpg");
}
/*COS*/
#cosContainer{
  width: 54.7vw;
  height: calc(54.7vw * 2.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10.5vw;
  margin-bottom: 9.07vh;
  position: absolute;
}
#cosBox_1{
  width: 29.3vw;
  height: calc(29.3vw * 1.22);
  background-image: url("../images/COS/COS_1.jpg");
}
#cosBox_2{
  width: 54.7vw;
  height: calc(54.7vw * 1.43);
  background-image: url("../images/COS/COS_3.jpg");
}
/*SKLAD*/
#skladBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 43.2vw;
  height: calc(43.2vw * 2.21);
  left: 24.3vw;
  margin-top: calc(43.2vw * .31);
  margin-bottom: 9.07vh;
}
#skladBox_1{
  width: 43.2vw;
  height: calc(43.2vw * .668);
  background-image: url("../images/SKLAD/SKLAD_1.jpg");
}
#skladBox_2{
  width: 43.2vw;
  height: calc(43.2vw * .666);
  background-image: url("../images/SKLAD/SKLAD_2.jpg");
}
#skladBox_3{
  width: 20vw;
  height: calc(20vw * 1.5);
  background-image: url("../images/SKLAD/SKLAD_3.jpg");
}
/* ZERO KITCHEN` */
#zeroKitchenBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 51.9vw;
  height: calc(51.9vw * 2.52);
  left: 19.2vw;
  margin-bottom: 9.07vh;
  margin-top: calc(51.9vw * .09)
}
#zeroBox_1{
  width: 51.9vw;
  height: calc(51.9vw * .72);
  background-image: url("../images/KUCHNIA_ZERO/KUCHNIA_1.jpg");
}
#zeroContainer{
  width: 51.9vw;
  height: calc(51.9vw * 1.16);
  display: flex;
  justify-content: space-between;
}
#zeroContainer_left{
  width: 23.1vw;
  height: calc(23.1vw * 2.61);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#zeroBox_2{
  width: 23.1vw;
  height: calc(23.1vw * 1.5);
  background-image: url("../images/KUCHNIA_ZERO/KUCHNIA_2.JPG")
}
#zeroBox_3{
  width: 23.1vw;
  height: calc(23.1vw * .67);
  margin-bottom: calc(23.1vw * .31);
  background-image: url("../images/KUCHNIA_ZERO/KUCHNIA_3.JPG")
}
#zeroContainer_right{
  width: 26.4vw;
  height: calc(26.4vw * 2.28);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#zeroBox_4{
  width: 26.4vw;
  height: calc(26.4vw / .68);
  background-image: url("../images/KUCHNIA_ZERO/KUCHNIA_4.jpg")
}
#zeroBox_5{
  width: 26.4vw;
  height: calc(26.4vw * .68);
  background-image: url("../images/KUCHNIA_ZERO/KUCHNIA_5.jpg")
}
#zeroBox_6{
  width: 41.8vw;
  height: calc(41.8vw * .667);
  background-image: url("../images/KUCHNIA_ZERO/KUCHNIA_6.JPG")
}
/*LUCYNA*/
#lucynaContainer{
  width: 44.6vw;
  height: calc(44.6vw * 2.51);
  margin-left: 22.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 9.07vh;
}
#lucynaBox_1{
  width: 28.5vw;
  height: calc(28.5vw * 1.42);
  margin-left: 4.3vw;
  background-image: url("../images/LUCYNA/lucyna_1.jpg");
}
#lucynaBox_2{
  width: 44.6vw;
  height: calc(44.6vw * .63);
  background-image: url("../images/LUCYNA/lucyna_2.jpg");
}
#lucynaBox_3{
  width: 41.4vw;
  height: calc(41.4vw * .99);
  margin-left: 5.9vw;
  background-image: url("../images/LUCYNA/lucyna_3.jpg");
}
/* WRH*/
#WRHBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 53.5vw;
  height: calc(53.5vw * 3.1);
  left: 19.4vw;
  margin-bottom: 9.07vh;
}
#WRHBox_1{
  width: 28vw;
  height: calc(28vw * 1.42 );
  background-image: url("../images/WRH/WRH_1.JPG");
}
#WRHCorntainer{
  width: 53.5vw;
  height: calc(53.5vw * 1.42);
  display: flex;
  justify-content: space-between;
  padding-top: calc(53.5vw * .09)
}
#WRHInnerContainer_left{
  width: 24.4vw;
  height: calc(24.4vw * 3.11);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#WRHBox_2{
  width:24.4vw ;
  height: calc(24.4vw * 1.5);
  background-image: url("../images/WRH/WRH_2.JPG");
}
#WRHBox_3{
  width:24.4vw ;
  height: calc(24.4vw * 1.5);
  background-image: url("../images/WRH/WRH_3.JPG");
}
#WRHInnerContainer_right{
  width: 26.1vw;
  height: calc(26.1vw * 2.91);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: flex-start;
}
#WRHBox_4{
  width:26.1vw ;
  height: calc(26.1vw * 1.5);
  margin-top: calc(26.1vw * .32);
  background-image: url("../images/WRH/WRH_4.JPG");
}
#WRHBox_5{
  width:17.3vw ;
  height: calc(17.3vw * 1.5);
  background-image: url("../images/WRH/WRH_5.JPG");
}
#WRHBox_6{
  width: 53.5vw;
  height: calc(53.5vw * .67);
  background-image: url("../images/WRH/WRH_6.JPG");
}
/* KUCHNIA POZNAN*/
#kuchniaPoznanBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 52.3vw;
  height: calc(52.3vw * 2.53);
  left: 17.5vw;
  margin-bottom: 9.07vh;
}
#kuchniaPoznanBox_1{
  width: 34.8vw;
  height: calc(34.8vw * 1.5);
  background-image: url("../images/KUCHNIA_POZNAN/KUCHNIA_POZNAN_1.jpg");
}
#kuchniaPoznanContainer{
  width: 52.3vw;
  height: calc(52.3vw * 1.48);
  display: flex;
  justify-content: space-between;
}
#kuchniaPoznanContainerLeft{
  width: 25.1vw;
  height: calc(25.1vw * 3.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#kuchniaPoznanContainerRight{
  width: 25.1vw;
  height: calc(25.1vw * 3.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#kuchniaPoznanBox_2{
  width: 25.1vw;
  height: calc(25.1vw * 1.5);
  background-image: url("../images/KUCHNIA_POZNAN/KUCHNIA_POZNAN_2.jpg");
}
#kuchniaPoznanBox_3{
  width: 25.1vw;
  height: calc(25.1vw * 1.5);
  background-image: url("../images/KUCHNIA_POZNAN/KUCHNIA_POZNAN_3.jpg");
}
#kuchniaPoznanBox_4{
  width: 25.1vw;
  height: calc(25.1vw * 1.5);
  margin-top: calc(25.1vw * .27);
  background-image: url("../images/KUCHNIA_POZNAN/KUCHNIA_POZNAN_4.jpg");
}
#kuchniaPoznanBox_5{
  width: 17.1vw;
  height: calc(17.1vw * 1.5);
  margin-bottom: calc(25.1vw * .21);
  background-image: url("../images/KUCHNIA_POZNAN/KUCHNIA_POZNAN_5.jpg");
}
/* KWIATY POLSKIE */
#kwiatyPolskieBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 55.7vw;
  height: calc(55.7vw * 2.5);
  left: 15.8vw;
  margin-bottom: 9.07vh;
}
#kwiatyPolskieBox_1{
  width: 35.1vw;
  height: calc(35.1vw * 1.5);
  background-image: url("../images/KWIATY_POLSKIE/kwiaty_polskie_1.jpg");
}
#kwiatyPolskieContainer{
  display: flex;
  justify-content: space-between;
  width: 55.7vw;
  height: calc(55.7vw * 1.51);
}
#kwiatyPolskieContainerLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28vw;
  height: 100%;
}
#kwiatyPolskieContainerRigth{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 24.9vw;
  height: 100%;
}
#kwiatyPolskieBox_2{
  width: 43.8vw;
  height: calc(43.8vw / 1.5);
  margin-left: -15.8vw;
  background-image: url("../images/KWIATY_POLSKIE/kwiaty_polskie_2.jpg");
}
#kwiatyPolskieBox_3{
  width: 28vw;
  height: calc(28vw * 1.5);
  margin-bottom: calc(28vw * .37);
  background-image: url("../images/KWIATY_POLSKIE/kwiaty_polskie_3.jpg");
}
#kwiatyPolskieBox_4{
  width: 24.9vw;
  height: calc(24.9vw * 1.5);
  margin-top: calc(24.9vw * .43);
  background-image: url("../images/KWIATY_POLSKIE/kwiaty_polskie_4.jpg");
}
#kwiatyPolskieBox_5{
  width: 21.9vw;
  height: calc(21.9vw * 1.5);
  background-image: url("../images/KWIATY_POLSKIE/kwiaty_polskie_5.jpg");
}
/*COOLGARDIE*/
#coolgardieBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 57.6vw;
  height: calc(57.6vw * 2.04);
  left: 17.4vw;
  margin-bottom: 9.07vh;
}
#coolgardieBox_1{
  width: 51vw;
  height: calc(51vw * .855);
  background-image: url("../images/COOLGARDIE/col_1.jpg");
}
#coolgardieContainer{
  width: 57.6vw;
  height: calc(57.6vw * .48);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#coolgardieBox_2{
  width:20.2vw;
  height: 100%;
  background-image: url("../images/COOLGARDIE/col_2.png");
}
#coolgardieBox_3{
  width:36vw;
  height: calc(36vw * .557);
  background-image: url("../images/COOLGARDIE/col_3.png");
}
#coolgardieBox_4{
  width: 57.6vw;
  height: calc(57.6vw * .667);
  background-image: url("../images/COOLGARDIE/col_4.jpg");
}
/* BRAMA POZNANIA */
#bramaPoznaniaBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  width: 50.1vw;
  height: calc(50.1vw * 1.81);
  left: 19.7vw;
  margin-bottom: 9.07vh;
  margin-top: 20vh;
}
#bramaPoznaniaBox_1{
  width: 50.1vw;
  height: calc(50.1vw / 1.5);
  background-image: url("../images/BRAMA_POZNANIA/brama_poznania_1.jpg");
}
#bramaPoznaniaBox_2{
  width: 50.1vw;
  height: calc(50.1vw / 1.5);
  background-image: url("../images/BRAMA_POZNANIA/brama_poznania_2.jpg");
}
#bramaPoznaniaContainer{
  width: 63.2vw;
  height: calc(63.2vw * .32);
  display: flex;
  justify-content: space-between;
}
#bramaPoznaniaBox_3{
  width: 30.7vw;
  height: calc(30.7vw / 1.5);
  background-image: url("../images/BRAMA_POZNANIA/brama_poznania_3.jpg");
}
#bramaPoznaniaBox_4{
  width: 30.7vw;
  height: calc(30.7vw / 1.5);
  background-image: url("../images/BRAMA_POZNANIA/brama_poznania_4.jpg");
}
/* BERLIN */
#berlinBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 50.9vw;
  height: calc(50.9vw * 3.01);
  left: 18.9vw;
  margin-bottom: 9.07vh;
}
#berlinBox_1{
  margin-left: 8.5vw;
  width: 29vw;
  height: calc(29vw * 1.5);
  background-image: url("../images/BERLIN/BERLIN_1.jpg");
}
#berlinContainer{
  width: 50.9vw;
  height: calc(50.9vw * 1.6);
  display: flex;
  justify-content: space-between;
}
#berlinContainerLeft{
  width: 24.2vw;
  height: calc(24.2vw * 3.37);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#berlinContainerRight{
  width: 24.2vw;
  height: calc(24.2vw * 3.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#berlinBox_2{
  width: 24.2vw;
  height: calc(24.2vw * 1.5);
  background-image: url("../images/BERLIN/BERLIN_2.jpg");
}
#berlinBox_3{
  width: 24.2vw;
  height: calc(24.2vw *1.5);
  margin-bottom: calc(24.2vw * .26);
  background-image: url("../images/BERLIN/BERLIN_3.jpg");
}
#berlinBox_4{
  width: 24.2vw;
  height: calc(24.2vw *1.5);
  margin-top: calc(24.2vw * .26);
  background-image: url("../images/BERLIN/BERLIN_4.jpg");
}
#berlinBox_5{
  width: 24.2vw;
  height: calc(24.2vw * 1.5);
  background-image: url("../images/BERLIN/BERLIN_5.jpg");
}
#berlinBox_6{
  width: 35.1vw;
  height: calc(35.1vw / 1.48);
  background-image: url("../images/BERLIN/BERLIN_6.jpg");
}
/* AIR WATER SOIL */
#airWaterSoilBox{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 46.9vw;
  height: calc(46.9vw * 3.5);
  left: 22.9vw;
  margin-bottom: 9.07vh;
}
#airWaterSoilBox_1{
  width:30vw;
  height: calc(30vw * 1.365);
  background-image: url("../images/AIR_WATER_SOIL/AWS_1.jpg");
}
#airWaterSoilContainer{
  width: 52.4vw;
  height: calc(52.4vw * 1.6);
  margin-left: 1.9vw;
  display: flex;
  justify-content: space-between;
}
#airWaterSoilContainerLeft{
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#airWaterSoilContainerRight{
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#airWaterSoilBox_2{
  width: 25vw;
  height: calc(25vw * 1.52);
  background-image: url("../images/AIR_WATER_SOIL/AWS_2.jpg");
}
#airWaterSoilBox_3{
  width: 25vw;
  height: calc(25vw * 1.5);
  margin-bottom: calc(25vw * .25);
  background-image: url("../images/AIR_WATER_SOIL/AWS_3.jpg");
}
#airWaterSoilBox_4{
  width: 25vw;
  height: calc(25vw * 1.5);
  margin-top: calc(25vw * .25);
  background-image: url("../images/AIR_WATER_SOIL/AWS_4.jpg");
}
#airWaterSoilBox_5{
  width: 25vw;
  height: calc(25vw * 1.5);
  background-image: url("../images/AIR_WATER_SOIL/AWS_5.jpg");
}
#airWaterSoilBox_6{
  width:46.9vw;
  height: calc(46.9vw / 1.5);
  background-image: url("../images/AIR_WATER_SOIL/AWS_6.jpg");
}
